.page--fixed--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page--scroll--container {
  flex: 1;
  overflow: scroll;
}

.page--scroll--container--padded {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 16px;
  margin-right: 16px;
}
