.call-index {
  display: grid;
  border-radius: 8px;
  justify-content: center;
  margin-top: 15px;
  height: 100%;
  padding: 32px;
}

.call-index::before {
  content: "";
  background: url(background_pic1.png), url(background_pic2.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.practiced {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 8px;
  padding: 6px;
  backdrop-filter: blur(10px);
}

.chatted {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 8px;
  padding: 6px;
  backdrop-filter: blur(10px);
}

#numbers {
  size: 50px;
}

.call--button {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.friends-call {
  background-color: rgba(#53c7df, 0.9);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 22px;
  margin-right: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.random-call {
  margin-left: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: rgba(#5b4cff, 0.9);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: 50px;
}
