.categories--container {
  display: grid;
  margin-top: 15px;
  column-gap: 10px;
  row-gap: 15px;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: #ffbd59;
  text-align: center;
  overflow: hidden;
  height: 60px;
  padding: 16px;
  margin-right: 16px;
  margin-left: 16px;
}

.category-title {
  color: white;
  font-weight: bold;
  margin-right: 64px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-count {
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
  width: 32px;
  height: 32px;
}
.add {
  display: flex;
  justify-content: end;
  height: 40px;
  align-items: center;
  padding: 8px;
}

.add-button {
  width: 24px;
  margin-right: 8px;
}
