.chatroom--disable--scroll {
  overflow: hidden;
  display: flex;
}

.chatroom {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
  border-radius: 16px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    overflow: scroll;
    padding: 1rem;
  }

  .message-row {
    margin-bottom: 10px;
    padding: 8px;
  }

  .sender-style,
  .receiver-style {
    width: 70%;
    max-width: 400px;
    border-radius: 15px;
    padding: 10px;
    min-height: 60px;
    position: relative;
  }

  .sender-style:after,
  .receiver-style:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .sender-style:after {
    border-width: 0 0 20px 20px;
    border-color: transparent transparent transparent #fca401;
    right: -10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 0;
  }

  .receiver-style:before {
    border-width: 0 20px 20px 0;
    border-color: transparent #e7edff transparent transparent;
    left: -10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 0;
  }

  .sender-style .message-content,
  .receiver-style .message-content {
    word-wrap: break-word;
  }

  .sender-style {
    background-color: #fca401;
  }

  .receiver-style {
    background-color: #e7edff;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom::before {
  content: "";
  background: url(background_pic1.png), url(background_pic2.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#message_text {
  width: 130%;
  border-radius: 25px;
  border: none;
}

.send {
  border-radius: 25px;
}
