// Specific CSS for your home-page
.home-wrapper::before {
  content: "";
  background: url(background_pic1.png), url(background_pic2.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-title {
  font-weight: bold;
  font-size: 42px;
  padding-left: 15px;
}

.flashcards--container {
  margin-top: 24px;
  background-color: rgba(#ffbd59, 0.9);
  border-radius: 8px;
  padding: 12px;
  height: 180px;
  backdrop-filter: blur(10px);
}

.title-container {
  display: flex;
  justify-content: space-between;
  height: 42px;
}

.block-title {
  width: 88%;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 16px;
}

.notice-text {
  color: rgb(248, 248, 248);
}

.flashcard-grid {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 8px;
}

.flashcard-container {
  flex: 0 0 calc(50% - 10px);
  margin: 8px;
  position: relative;
  perspective: 1000px;
}

.flashcard {
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  width: 100%;
  padding: 6px;
  list-style: none;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(248, 248, 248);
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  height: 40px;
}

.flashcard-back {
  background-color: #ff914d;
  color: rgb(248, 248, 248);
  transform: rotateY(180deg);
}

.flashcard-back.flip {
  transform: rotateY(0deg);
}

.flashcard-front.flip {
  transform: rotateY(180deg);
}

.flashcard-container:nth-child(odd) {
  margin-bottom: 56px;
}

.btn-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  background-color: rgba(#ffbd59, 0.9);
  border-radius: 8px;
  padding-top: 12px;
  backdrop-filter: blur(10px);
}

.home-image {
  width: 50%;
}

.home-btn {
  background-color: #5b4cff;
  color: white;
  font-size: 8px;
  border-radius: 16px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.home-btn2 {
  background-color: white;
  color: #5b4cff;
  font-size: 8px;
  border-radius: 25px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

.new-div {
  background-color: #ff914d;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
  border-radius: 8px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.inner-div {
  background-color: white;
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  position: relative;
  border: 1px solid gray;
  opacity: 0.8;
}

.center-text {
  color: rgb(224, 32, 32);
  display: flex;
  font-weight: bold;
  font-size: 30px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 900;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 4px;
  margin-right: 4px;
}
