// Specific CSS for your home-page
.home-title {
  font-weight: bold;
  font-size: 40px;
  padding-left: 15px;
}

.flashcard-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
}

.flashcard-container {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  position: relative;
  perspective: 1000px;
}

.flashcard {
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  width: 100%;
  padding: 10px;
  list-style: none;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #E7EDFF;
  box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}


.flashcard-back {
  background-color: #1247e6;
  color: white;
  transform: rotateY(180deg);
}

.flashcard-back.flip {
  transform: rotateY(0deg);
}

.flashcard-front.flip {
  transform: rotateY(180deg);
}

.flashcard-container:nth-child(odd) {
  margin-bottom: 80px;
}

.btn-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.home-btn {
  background-color: #5b4cff;
  color: white;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  box-shadow: 6px 6px 1px 1px rgba(51, 51, 52, 0.1);
  text-decoration: none;
}

// .home-btn:hover {
//   background-color: white;
//   color: #5b4cff;
// }

.home-btn2 {
  background-color: white;
  color: #5b4cff;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  box-shadow: 6px 6px 1px 1px rgba(51, 51, 52, 0.1);
}
