// Specific CSS for your home-page
.home-title {
  font-weight: bold;
  font-size: 40px;
  padding-left: 15px;
}

.flashcards--container {
  margin-top: 4px;
  background-color: #ffbd59;
  border-radius: 8px;
  padding: 8px;
  height: 180px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.block-title {
  width: 70%;
  margin-left: 5px;
}

.flashcard-grid {
  display: flex;
  flex-direction: column;
  justify-content: left;
  // flex-wrap: wrap;
  // justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  // margin-top: 16px;
  border-radius: 8px;
  // padding-top: 5px;
}

.flashcard-container {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  position: relative;
  perspective: 1000px;
}

.flashcard {
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  width: 100%;
  padding: 8px;
  list-style: none;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(248, 248, 248);
  // box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flashcard-back {
  background-color: #ff914d;
  color: rgb(248, 248, 248);
  transform: rotateY(180deg);
}

.flashcard-back.flip {
  transform: rotateY(0deg);
}

.flashcard-front.flip {
  transform: rotateY(180deg);
}

.flashcard-container:nth-child(odd) {
  margin-bottom: 56px;
}

.btn-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  background-color: #ffbd59;
}

.home-image {
  width: 50%;
}

.home-btn {
  background-color: #5b4cff;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  // box-shadow: 1px 1px 1px 1px rgba(51, 51, 52, 0.1);
  text-decoration: none;
}

// .home-btn:hover {
//   background-color: white;
//   color: #5b4cff;
// }

.home-btn2 {
  background-color: white;
  color: #5b4cff;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  box-shadow: 6px 6px 1px 1px rgba(51, 51, 52, 0.1);
}

.new-div {
  background-color: #ff914d;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
  border-radius: 8px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.inner-div {
  background-color: white;
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  position: relative;
  border: 1px solid gray;
  opacity: 0.8;
}

.center-text {
  color: rgb(224, 32, 32);
  display: flex;
  font-weight: bold;
  font-size: 30px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 900;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-right: 4px;
}
