.review-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.re_fl--container1 {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-top: 96px;
  margin-bottom: 40px;
  // transform: translate(-50%, -50%);
  // position: absolute;
  width: 80%;
  height: 120px;
}

.re_fl--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.single-flashcard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.random-flashcard-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ffbd59;
  color: black;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.random-flashcard-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ff914d;
  opacity: 8px;
  width: 100%;
  height: 120px;
  color: rgb(248, 248, 248);
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipcard {
  transform: rotateY(180deg);
}

.buttons_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.choices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 8px;
}

.choice--btn {
  background-color: #5b4cff;
  color: white;
  font-size: 16px;
  width: 120px;
  height: 45px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
