/* ----- CONTAINER PRINCIPAL ----- */
.search-friend-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-friend-container::before {
  content: "";
  background: url(background_pic1.png), url(background_pic2.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row-search2 {
  display: flex;
  flex-direction: column;
}

/* ----- CONTAINER SEARCH-BOX ----- */
.search-box-container {
  position: relative;
}

.search-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 50px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
}

.search-btn {
  right: 0px;
  top: 0px;
  bottom: 3px;
  border: 0;
  background: #5b4cff;
  color: #fff;
  outline: none;
  margin: 0 0 0 50px;
  padding: 0 10px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  height: 42px;
}

/* ----- CONTAINER SEARCH RESULT ----- */
.result-search-cont {
  width: 100%;
}

.friend-result-list {
  margin-top: 20px;
  background-color: rgba(#fca401, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.column1-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 5px;
}

.column2-search {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
}

.row-search {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-search {
  width: 60px;
  height: 60px;
  margin-left: -50px;
  border-radius: 50%;
  background-color: bisque;
}

.add-user {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
  padding: 10px;
  font-size: 14px;
  color: #5b4cff;
}

.add-user2 {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
  padding: 10px;
  font-size: 10px;
}

.fa-plus::before {
  border: 2px solid green;
  border-radius: 50%;
  background-color: green;
  padding: 4px;
}

.not-found-text {
  color: red;
  text-align: center;
}

/* ----- CONTAINER BUTTONS CHECK REQUESTED ----- */

.btn-manage-friend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.see-requested,
.see-pending {
  height: fit-content;
  margin-right: 8px;
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.buttons-manage-request {
  background-color: #5b4cff;
  height: 40px;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px;
  margin: 8px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*----- FRIENDS PENDING -----*/

ol,
ul {
  padding-left: 0rem;
}
.pending-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.pending-list {
  margin-top: 20px;
  background-color: rgba(#fca401, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

.avatar-search2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: bisque;
}

.icon-color {
  color: green;
}
