// STYLE FOR THE SECTION
.flash-background {
  z-index: 0;
  margin-top: 5px;
}

.flash-background::before {
  content: "";
  background: url(background_pic1.png), url(background_pic2.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Text-Flash {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

// STYLE FOR THE WORD INPUT AND TRANSLATION
.flashcard_word {
  background-color: rgba(#e7edff, 0.6);
  padding: 25px 0px;
  border-radius: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
}

.flashcard_word input {
  box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
}

.flashcard_word h5 {
  vertical-align: bottom;
  display: inline;
}

.flashcard_word input {
  padding: 5px;
  margin: 5px 5px;
}

.flashcard_word h5 {
  padding: 10px;
  margin: 5px 20px;
}

.flashcard_word .line {
  height: 2px;
  background-color: #adc0f9;
  width: 100%;
}

#word-flashNew {
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 20px;
}

// STYLE FOR THE CATEGORIES INPUT
.autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(#e7edff, 0.6);
  padding: 25px 5px;
  border-radius: 25px;
  box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
}
#search-box {
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 3px 3px 1px 1px rgba(51, 51, 52, 0.1);
}
#suggestions {
  list-style-type: none;
  padding: 5px 0px;
  position: absolute;
  background-color: #fff;
  border: none;
  display: none;
  height: auto;
  overflow-y: auto;
  width: 298px;
  border-radius: 25px;
  z-index: 12;
  top: 65px;
}
#suggestions li {
  padding: 10px;
}
#suggestions li:hover {
  background-color: #f1f1f1;
}

// STYLE FOR THE BUTTON CONFIRM
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 27vh;
}

.flash-btn {
  font-size: 20px;
  padding: 10px 40px;
}

// STYLE FOR THE POPUP
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fca401;
  border-radius: 25px;
  min-height: 50vh;
  box-shadow: 500px 500px 500px 500px rgba(51, 51, 52, 1);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.popup-btn {
  background-color: #5b4cff;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  text-align: center;
  padding: 10px;
  width: 150px;
  box-shadow: 6px 6px 1px 1px rgba(51, 51, 52, 0.1);
  text-decoration: none;
}

.popupText {
  font-size: 50px;
  font-weight: bold;
}

// STYLE FOR SAVE AS FLASHCARD BUTTON
.simple_form_button {
  background-color: #5b4cff;
  color: #ffffff;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px rgba(51, 51, 52, 0.1);
}
