.video-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#vonage-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}
.OT_root:nth-of-type(2) {
  position:absolute !important;
  top: 0;
  right: 0;
  width: 30% !important;
  height: 20% !important;
}
