<div class="friends-container">
  <ul class= "friends-list">
    <% displayed_users = Set.new %>
    <% current_user.friends.each do |friend| %>
      <% other_user = friend.user_1 == current_user ? friend.user_2 : friend.user_1 %>
      <% unless displayed_users.include?(other_user.id) %>
        <li class="friend-information inline-layout" >
          <div>
            <%= image_tag("leonardo.png", class: "avatar", alt: "user avatar") %>
          </div>
          <div class="friend-info">
            <p><%= other_user.first_name %></p>
          </div>
          <div class="friend-rate">
           <p>4.5 <i class="fas fa-star"></i></p>
          </div>
          <div class="friend-buttons">
            <button class="text-button"><i class="fas fa-comment"></i></button>
            <button class="call-button"><i class="fas fa-phone"></i></button>
          </div>
        </li>
        <% displayed_users.add(other_user.id) %>
      <% end %>
    <% end %>
  </ul>
</div>
