<div class="friends-container">

  <div class= "friends-list">

    <% displayed_users = Set.new %>

    <% current_user.friends.each do |friend| %>

      <% other_user = friend.user_1 == current_user ? friend.user_2 : friend.user_1 %>
      <% unless displayed_users.include?(other_user.id) %>

        <div class="friend-information inline-layout" >
          <div>
            <%= image_tag("avatar_boy2.png", class: "avatar", alt: "user avatar") %>
          </div>

          <div class="friend-info">
            <p class="friend-name"><%= other_user.first_name.capitalize %></p>
          </div>

          <div class="friend-rate">
            <p>4.5 <i class="fas fa-star"></i></p>
          </div>
          <div class="friend-buttons">
            <% if friend.chatroom.nil?  %>
              <%= button_to friend_chatrooms_path(friend), class: "text-button" do %>
                <i class="fas fa-comment"></i>
              <% end %>
            <% else %>
              <%= link_to chatroom_path(friend.chatroom), class: "text-button" do %>
                <i class="fas fa-comment"></i>
              <% end %>
            <% end %>
              <button class="call-button"><i class="fas fa-phone"></i></button>
          </div>
        </div>
        <% displayed_users.add(other_user.id) %>
      <% end %>
    <% end %>
  </div>
</div>
