<div class="friends-container">

  <div class= "friends-list">

    <% displayed_users = Set.new %>

    <% @friends.each do |friend| %>

      <% other_user = friend.user_1 == current_user ? friend.user_2 : friend.user_1 %>
      <% unless displayed_users.include?(other_user.id) %>

        <div class="friend-information inline-layout" >
          <div>
            <%# <%= image_tag("avatar_boy2.png", class: "avatar", alt: "user avatar") %>
            <i class="fa-regular fa-user"></i>
          </div>

          <div class="friend-info flex-shrink-1">
            <%= other_user.first_name.capitalize %>
          </div>

          <div class="friend-rate">
            <span>4.5</span> <i class="fas fa-star"></i>
          </div>

          <div class="friend-buttons">

            <% if friend.chatroom.nil?  %>

              <%= button_to friend_chatrooms_path(friend), class: "text-button" do %>
                <i class="fas fa-comment"></i>
              <% end %>

            <% else %>

              <%= link_to chatroom_path(friend.chatroom), class: "text-button" do %>
                <i class="fas fa-comment fa-sm"></i>
              <% end %>

            <% end %>
              <button class="call-button"><i class="fas fa-phone fa-sm"></i></button>
          </div>
        </div>
        <% displayed_users.add(other_user.id) %>
      <% end %>
    <% end %>
  </div>
</div>
