<div id="message-<%= message.id %>">
  <small>
    <strong>
      <%= message.sender.first_name %>
    </strong>
    <i><%= message.created_at.strftime("%b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.text %></p>
</div>
