<div class="call-index">
  <div class="practiced">
    <p>you have practiced: </p>
    <p>200hours</p>
  </div>

  <div class="practiced">
    <p>you have chatted with: </p>
    <p>50 people </p>
  </div>

  <div class="text">
    <p>Great that you enjoyed!</p>
    <p> Start a chat today!</p>
  </div>

  <div class="call--button">

    <div class="Friends-call">
      <button class="buttons">Friends-call</button>
    </div>

    <div class="Random-call">
      <button class="buttons"> Random-call </button>
    </div>

  </div>

</div>
