<div class="call-index" data-controller="counterup">
  <div class="text">
    <h2> Start a chat today!</h2>
  </div>
  <div class="practiced">
    <p data-counterup-target="practice" style="font-size:32px; color:#5b4cff"></p>
    <p>Hours of calls!</p>
    <%=render "calls/trophy_picture"%>
  </div>

  <div class="chatted">
    <p data-counterup-target="call" style="font-size:32px; color:#5b4cff"></p>
    <p> language buddies! </p>
    <%=render "calls/hands-clapping"%>

  </div>


  <div class="call--button">
    <%= link_to 'Friends', friends_path, class: 'friends-call' %>
    <%= link_to 'RandoTalk', random_calls_path, class: 'random-call' %>
  </div>


</div>
