<div class="call-index" data-controller="counterup">
  <div class="practiced">
    <p data-counterup-target="practice"></p>
    <p>Hours of calls!</p>
    <%=render "calls/trophy_picture"%>
  </div>

  <div class="chatted">
    <p data-counterup-target="call"></p>
    <p> language buddies! </p>
    <%= image_tag "friend_chat.png", alt: "background picture", width: 200, height: 150%>
  </div>

  <div class="text">
    <p> Start a chat today!</p>
  </div>

  <div class="call--button">

    <%= link_to 'Friends-call', friends_path, class: 'buttons friends-call' %>

    <%= link_to 'Random-call', random_calls_path, class: 'buttons random-call' %>

  </div>


</div>
