<div class="call-index">
  <div class="practiced">
    <h4>200 hours of practice</h4>
    <%=render "calls/trophy_picture"%>
  </div>

  <div class="practiced">
    <p>you have chatted with: </p>
    <p>50 people </p>
  </div>

  <div class="text">
    <p>Great that you enjoyed!</p>
    <p> Start a chat today!</p>
  </div>

  <div class="call--button">

    <%= link_to 'Friends-call', friends_path, class: 'buttons friends-call' %>

    <%= link_to 'Random-call', random_calls_path, class: 'buttons random-call' %>

  </div>


</div>
