<div class="call-index">
  <div class="practiced">
    <p>you have practiced: </p>
    <p>200hours</p>
  </div>

  <div class="practiced">
    <p>you have chatted with: </p>
    <p>50 people </p>
  </div>

  <div class="text">
    <p>Great that you enjoyed!</p>
    <p> Start a chat today!</p>
  </div>

  <div class="call--button">

    <%= link_to 'Friends-call', '#', class: 'buttons friends-call' %>
    <%= link_to 'Random-call', '#', class: 'buttons random-call' %>

  </div>

</div>
