<%# <script src="https://static.opentok.com/v2/js/opentok.min.js"></script> %>
<div class="video-container">
  <div id="vonage-video"
      data-controller="vonage"
      data-vonage-api-key="<%= ENV.fetch('VONAGE_API_KEY', nil) %>"
      data-vonage-session-id="<%= @call.session_id %>"
      data-vonage-token="<%= @token %>"
      data-vonage-name="<%= current_user.first_name%>">
  </div>
</div>
