<div
data-vonage-token="<%= @token %>"
data-api-key="<%= ENV['VONAGE_API_KEY'] %>"
data-vonage-session-id="<%= @call.session_id %>"
data-controller="vonage"
data-vonage-name="<%= current_user.first_name%>">
</div>
