footer{
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: beige;
  height: 50px;
  font-size: 0.6em;
  text-align: center;
}

.nav-icon{
  height: 100%;
}



.photo-link{
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0.5rem;
}

.home-photo{
  height: 50%;
  background-image: asset-url("footer_icons/home2.png");
  width: 40px;
  background-position: center;
  background-size: cover;
}

.flashcard-photo{
  height: 50%;
  background-image: asset-url("footer_icons/003-translation.png");
  width: 40px;
  background-position: center;
  background-size: cover;
}

.review-photo{
  height: 50%;
  background-image: asset-url("footer_icons/001-flash-cards.png");
  width: 40px;
  background-position: center;
  background-size: cover;
}

.video-photo{
  height: 50%;
  background-image: asset-url("footer_icons/002-live-chat.png");
  width: 40px;
  background-position: center;
  background-size: cover;
}
.footer-text{
  color: black;
  text-decoration: none;
  // font-size: x-small;
}

// for icon resizing without description text
.home-photo, .review-photo, .video-photo {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
