footer {
  //border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  border-top: 0.4px solid lightgray;
  height: 66px;
  font-size: 0.6em;
}

.nav-icon {
  height: 100%;
}

.photo-link {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0.5rem;
}

.home-photo {
  height: 50%;
  background-image: asset-url("footer_icons/home2.png");
  width: 40px;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.flashcard-photo {
  height: 50%;
  background-image: asset-url("footer_icons/003-translation.png");
  width: 40px;
  background-position: center;
  background-size: cover;
}

.review-photo {
  height: 50%;
  background-image: asset-url("footer_icons/001-flash-cards.png");
  width: 40px;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.video-photo {
  height: 50%;
  background-image: asset-url("footer_icons/002-live-chat.png");
  width: 40px;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.footer-text {
  color: black;
  text-decoration: none;
  // font-size: x-small;
}

.activated {
  background-color: #ffde59;
  opacity: 0.8;
  color: white;
  font-size: 5px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  padding: 20px;
}
