.form-actions {
  background-color: #5b4cff;
  color: #ffffff;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px rgba(51, 51, 52, 0.1);
  border-radius: 25px;
  margin-top: 20px;
  width: 150px;
}

.form-action2 {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
}
