<div class="categories--container">
    <% @categories.each do |category| %>
  <div class="category">
    <div><%=link_to category.name, category_path(category), class:"category-title" %></div>
    <div class="card-count"><%= category.user_flashcards.count %></div>
  </div>
    <% end %>
<%=link_to new_user_flashcard_path, class:"add--button--container" do%>
  <div class="add">
      <i class="fa-solid fa-circle-plus fa-2xl add-button" style="color: white;"></i>
  </div>
<% end%>
</div>
