<div class="review-page" data-controller="show">
  <div class="re_fl--container">
    <div class="random-flashcard">
      <%= @flashcards.sample.translation.primary_language_word %>
    </div>
    <div id="translated-side" class="random-flashcard d-none" data-show-target="backElement">
      <%= @flashcards.sample.translation.target_language_word %>
    </div>
  </div>

  <div class="re_fl--container">
    <div class="choices">
      <button class="choice--btn" data-show-target="buttonElement" data-action="click->show#change">Show</button>
    </div>
  </div>
</div>
